<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        footer{
            background: url("../img/cat.png") repeat-x; 
            height: 200px; 
            color: gainsboro;
            padding: 1em calc(50% - 300px);
        }
        .wrap{
            width: 600px;
        }
    </style>
</head>
<body>
    <footer>
        <div class="wrap">
         這個中文假文產生器每次會產生由五個段落、每段六至八個假句組成的假文。所以，假句其實是假文的基礎。為了讓假句在視覺質地上接近真句，我準備了一個由 128 個真句組成的語料庫。每次要產生假句時就從中隨機挑選一個，然後逐字替換為隨機選出的筆畫數相同、但一般人不可能認得的低頻字。因為一般人不可能認得，實際上也算是假字了這個中文假文產生器每次會產生由五個段落、每段六至八個假句組成的假文。所以，假句       
         </div>
    </footer>
</body>
</html>