<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{
            margin: 0px;
            display: flex;
            flex-flow: column;
            min-height: 100vh;
        }
        main{
            flex: 1;
        }
        header{
            background: limegreen;
        }
        footer{
            background: lightpink;
        }
    </style>
</head>
<body>
    <header>header</header>
    <main>main</main>
    <footer>footer</footer>
</body>
</html>