<html>
<head>
    <meta charset="UTF-8">
    <title>float的fit-conent的实用</title>
    <style>
        .wrap{

        }
        .wrap ul{
            margin: auto;
            list-style: none; 
            width: fit-content;
        }
        .wrap ul li{
            float: left;
            margin: 0px 10px;
            background: greenyellow;
            padding: 4px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <ul>
            <li>one</li>
            <li>two</li>
            <li>thr</li>
            <li>fou</li>
        </ul>
    </div>
</body>
</html>